<p id="notice"><%= notice %></p>



<p>
  <b>Band name:</b>
  <%= @artist.band_name %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>

<p>
  <b>Band image:</b>
  <%= image_tag @artist.band_image.detail.url %>
</p>

<p>
  <b>Songs:</b>
  <% @artist.songs.each do |song|%>
  <%= song.song_name %>
   <audio controls>
    <source src=<%= song.song_file.url %> type="audio/mpeg">
   </audio>
  <% end %>
</p>



<%= link_to 'Add a song', new_song_path %>
<%= link_to 'Edit', edit_artist_path(@artist) %>
<%= link_to 'Back', artists_path %>


