<div class="floating-page-400px">
  <h1>Profile Page</h1>
<p id="notice"><%= notice %></p>


<p class="img_container">
  <td><%= image_tag @artist.band_image.thumb, class: "profile_img" %></td>
</p><br><br><br><br><br><br>
<p>
  <b>Band name:</b>
  <%= @artist.band_name %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>

<p>
  <b>Songs:</b>
  <% @artist.songs.each do |song|%><br>
  <%= song.song_name %><br>
   <audio controls>
    <source src=<%= song.song_file.url %> type="audio/mpeg">
   </audio>
  <% end %>
</p>

<%= link_to 'Add a song', new_song_path %>
<%= link_to 'Edit profile', edit_artist_path(@artist) %>
</div>

