<div class="floating-page-400px">
<h1>Listing songs</h1>

<table>
  <tr>
    <th>Song name</th>
    <th>Artist</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.song_name, song %></td>
    <td><%= song.artist.band_name %></td>
    <td><%= song.comment_id %></td>
    <td><%= link_to 'Edit song', edit_song_path(song) if can? :edit, song %></td>
    <td><%= link_to 'Destroy song', song, method: :delete, data: { confirm: 'Are you sure?' } if can? :delete, song %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Song', new_song_path %>
</div>
