<!DOCTYPE html>
<html>
<head>
  <title>Bandcloud</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <% if current_artist %>
    <li>Hello, <%= current_artist.band_name %></li>
    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign up", signup_path %></li>
    <li><%= link_to "Login", login_path %></li>
  <% end %>
  <% if current_artist %>
    <li><%=link_to "My profile", artist_path(current_artist) %></li>
  <% end %>
  <li><%=link_to "Songs", songs_path %></li>
  <li><%=link_to "Artists", artists_path %></li>
  <li><%=link_to "Home", home_index_path %></li>
</nav>
 <% flash.each do |name, message| %>
   <div class="flash-message flash-message-<%= name %>">
    <%= message %>
   </div>
  <% end %>
<%= yield %>

</body>
</html>
