<!DOCTYPE html>
<html>
<head>
  <title>Bandcloud</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if current_artist %>
    logged in as <%= current_artist.band_name %>,
              <%= link_to 'Logout', logout_path, method: :delete %>
            <% else %>
              <%= link_to "Login", login_path %>
              or
              <%= link_to "Sign up", signup_path %>
            <% end %>

    <% flash.each do |name, message| %>
     <div class="flash-message flash-message-<%= name %>">
      <%= message %>
     </div>
    <% end %>
  <nav>
    <li><%=link_to "Home", home_index_path %></li>
    <li><%=link_to "All artists", artists_path %></li>
    <li><%=link_to "All Songs", songs_path %></li>
   <% if current_artist %>
   <li><%=link_to "My profile", artist_path(current_artist) %></li>
   <% end %>

  </nav>
<%= yield %>

</body>
</html>
